{
        "dns_primary": "{{ dns_primary }}", 
        "ipv6_address": "{{ ipv6_address }}", 
        "vm_auth_key": "{{ vm_auth_key }}", 
        "panorama_server_2": "{{ panorama_server_2 }}", 
        "panorama_server": "{{ panorama_server }}", 
        "tpl_name": "{{ tpl_name }}", 
        "op_command_modes": "{{ op_command_modes }}", 
        "dhcp_or_static": "{{ dhcp_or_static }}", 
        "hostname": "{{ hostname }}", 
        "archive_type": "iso", 
        "dhcp_accept_server_hostname": "{{ dhcp_accept_server_hostname }}", 
        "deployment_type": "kvm", 
        "default_gateway": "{{ default_gateway }}", 
        "dg_name": "{{ dg_name }}", 
        "dhcp_send_hostname": "{{ dhcp_send_hostname }}", 
        "netmask": "{{ netmask }}", 
        "dns_secondary": "{{ dns_secondary }}", 
        "ip_address": "{{ ip_address }}", 
        "bootstrap_template": "None", 
        "init_cfg_template": "Default Init-Cfg complete", 
        "dhcp_send_client_id": "{{ dhcp_send_client_id }}", 
        "dhcp_accept_server_domain": "{{ dhcp_accept_server_domain }}", 
        "ipv6_default_gateway": "{{ ipv6_default_gateway }}"
}
